<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reddit Saved Homepage</title>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/home.css" rel="stylesheet" type="text/css">

    <script src="javascripts/home.js" type="text/javascript"></script>
</head>

<body>
    <div class="container-fluid" id="main">
        <div id="content-container">
            <div id="heading">
                <h1>Reddit Saved</h1>
                <p>Manage your Reddit saved posts</p>
                <button type="button" class="btn btn-default signInButton" ></button>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="footer">
        <div id="mainIntro">
            <span>© 2015 Reddit Saved</span>
        </div>
    </div>
</body>

</html>
