<div id="displayedposts">{% set printing = posts %}</div>
{% for post in printing %}
<div id="posts">
    <div><span id="button{{post.id}}"><a href="javascript:
        change('#post{{ post.id }}', '#button{{ post.id }}');">{{ post.text }}</a></span></div>
    <p><span id="post{{post.id}}">{{ post.text }}
        the time has coem for html to be the tim of the ligfe ocer the
        lsjkdflkla;kdjf oi jtoijl k lkj lkjd kljalk j jk lak lj  l jl
        ajl kj  k klajlsd jlk ajkl the time has coem for html to be the tim of the ligfe ocer the
        lsjkdflkla;kdjf oi jtoijl k lkj lkjd kljalk j jk lak lj  l jl
        ajl kj  k klajlsd jlk ajkl the time has coem for html to be the tim of the ligfe ocer the
        lsjkdflkla;kdjf oi jtoijl k lkj lkjd kljalk j jk lak lj  l jl
        ajl kj  k klajlsd jlk ajkl
    </span></p>
</div>
{% endfor %}
